.explanationpart {

    display: flex;
    /* position: absolute; */
    flex-direction: column;
    padding: 100px 0px 0px 0px;
    max-width: 800px;
    font-size: 20px;
    margin: auto;
    /* margin-left: -10px; */
    align-self: center;
    align-items: center;
    vertical-align: middle;
    /* background-color: red; */
}

a {
    color: black !important;
}

a:hover {
    color: black !important;
    text-decoration: none !important;
}


.sliderright {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
}

@media (max-width: 800px) {
    .explanationpart {
        padding: 100px 30px 0px 30px;
    }
}